$var1: #2A2A2A;
$var2: #000000;
$var3: #FFFFFF;
$var4: #BBBBBB;
$var5: #FFFFFF;
$var6: #FF6B09;
$var7: #F5F6FB;
*,
*::before,
*::after {
  box-sizing: border-box;
}
//body {
  //font-family: Roboto, sans-serif;
  //color: $var1;
  //&.show-modal .backdrop {
    //opacity: 1;
    //visibility: visible;
    //pointer-events: initial;
  //}
  //&.show-modal .modal {
    //transform: scale(1);
  //}
//}
button,
label {
  cursor: pointer;
}

.add-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $var2;
  @media screen and (min-width: 768px) {
    margin: 0px;
    padding-left: 53px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0px;
    padding-left: 105px;
  }
}
.add-input {
  height: 56px;
  background: $var3;
  border: 1px solid $var4;
  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-left: 23px;
    letter-spacing: 0.02em;
    color: $var4;
  }
  &:focus,
  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
  }
  @media screen and (min-width: 320px) {
    width: 251px;
    margin-top: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 458px;
    margin-right: 55px;
  }
  @media screen and (min-width: 1280px) {
    width: 440px;
    margin-right: 105px;
  }
}

.add-tittle {
  width: 256px;
  height: 23px;
  left: 315px;
  top: 180px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: $var2;
  @media screen and (min-width: 768px) {
    margin-left: 53px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 105px;
  }
}

//.backdrop {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //position: fixed;
  //top: 0;
  //left: 0;
  //width: 100vw;
  //height: 100vh;
  //background-color: rgba(0, 0, 0, 0.7);
  //z-index: 999;
  //pointer-events: none;
  //opacity: 0;
  //visibility: hidden;
  //transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  //overflow-y: scroll;
//}

.add-modal {
  padding-left: 20px;
  padding-bottom: 60px;
  position: absolute;
  background-color: $var5;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  height: 100%;
  overflow: auto;
  @media screen and (min-width: 320px) {
    max-width: 290px;
    max-height: 875px;
    height: auto;
  }
  @media screen and (min-width: 768px) {
    min-width: 724px;
    min-height: 698px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 861px;
    min-height: 698px;
  }
}
.add-modal-container {
  margin-top: 20px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button-add {
  width: 251px;
  height: 50px;
  left: 35px;
  top: 778px;
  margin-top: 30px;
  background: $var6;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  align-content: center;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $var3;
  @media screen and (min-width: 768px) {
    width: 266px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 210px;
  }
}

//.button-close {
  //top: 20px;
  //right: 20px;
//}

.add-photo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
}

.add-photos {
  padding-left: 0px;
  width: 100%;
}

.file-preview-add {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.file-preview-item {
  list-style-type: none;
  position: relative;
  width: 75px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fb;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 85px;
    height: 50px;
  }
}

.add-photo-button {
  margin: 0px;
}

.category {
  width: 251px;
  height: 56px;
  left: 35px;
  top: 484px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: $var3;
  border: 1px solid $var4;
  &:focus,
  &:hover,
  &:active {
    outline: none;
    box-shadow: none;
  }
  @media screen and (min-width: 768px) {
    width: 458px;
    float: right;
    margin-right: 55px;
  }
  @media screen and (min-width: 1280px) {
    width: 440px;
    margin-right: 105px;
  }
}
.add-valid-error {
  position: absolute;
  width: 100%;
  font-size: 80%;
  color: red;
  //margin-top: 0px;
  
  @media screen and (min-width: 768px){
    padding-left: 190px;
  }
  @media screen and (min-width: 1280px){
    padding-left: 300px;
  }
}