.card {
  box-shadow: $shade;
  overflow: hidden;
  position: relative;
}
.cardset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // @include Cardset-Responsive($mobile, 15px, 15px, 1);
  // @include Cardset-Responsive($tablet-min, 20px, 20px, 2);
  // @include Cardset-Responsive($desktop, 20px, 20px, 4);

  margin: -10px;

  &__item {
    // position: relative;
    width: 295px;
    height: 350px;

    margin: 10px;
  }
  &__link {
    cursor: crosshair;
    &:hover,
    &:focus {
      & .cardset__overlay {
        // transform: translateY(-100%);
        opacity: 1;
        visibility: visible;
      }
      & .cardset__icons {
        opacity: 1;
      }
      // & .cardset__image {
      //   object-position: top;
      // }
    }
  }
  &__picture {
    background-color: $c-white;
  }
  &__image {
    object-fit: cover;
    margin: 0 auto;
    // object-position: center center;
    // will-change: object-position;
    // transition: object-position $transition;
    width: 295px;
    height: 275px;
    // height: calc((100vw - 30px) * 275 / 290);
    // @media screen and (min-width: $tablet-min), screen and (min-width: $mobile) and (orientation: landscape) {
    //   height: calc((100vw - 64px) / 2 * 275 / 352);
    // }
    // @media screen and (min-width: $desktop) {
    //   height: calc((100vw - 100px) / 4 * 275 / 295);
    // }
  }
  &__description {
    height: 75px;
    width: 100%;
    padding: 20px;
    background: $c-white;
    border-top: 1px solid $c-bg-grey;
  }
  &__title {
    font-weight: 300;
    color: $c-black;
    font-size: 12px;
    margin-bottom: 4px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 275px;
    width: 100%;
    background: $c-overlay;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    will-change: opacity, visibility;
    transition: visibility $transition, opacity $transition;
    // & .icons-container {
    //   width: 24px;
    //   height: 24px;
    //   &:first-child {
    //     margin-bottom: 10px;
    //   }
    //   &:last-child {
    //     margin-top: auto;
    //   }
    // }
  }
  &__icons {
    font-size: 14px;
    color: $c-white;
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity $transition;
    &[data-edit] {
      display: none;
    }
  }
  &__price {
    font-weight: $bold;
    font-size: 14px;
    color: $c-black;
    &.new {
      color: $c-accent;
    }
    &.old {
      color: $c-input-grey;
      margin-right: 10px;
    }
    &.del {
      color: $c-black;
      text-decoration: line-through;
    }
  }
}
