/* Modal */
.js-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 55px 105px;

  text-align: center;
  background: $c-bg-grey;
  //   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .is-hidden & {
    transform: translate(-50%, -50%) scale(1.2);
  }
  &[action='search'] {
    background-color: $c-accent;
    padding: 20px 50px;
    @media screen and (min-width: $tablet-min) {
      padding: 50px 93px;
    }
    @media screen and (min-width: $desktop) {
      padding: 93px 105px;
    }
  }
  &[action='search'] .icon-close {
    fill: $c-white;
  }
  &[action='login'] {
    background-color: $c-bg-grey;
    padding: 62px 105px;
    @media screen and (width: $mobile) {
      padding: 60px 18px;
    }
  }
  &[action='create'] {
    padding: 54px 20px;
    @media screen and (min-width: $tablet-min) {
      padding: 54px;
    }
    @media screen and (min-width: $desktop) {
      padding: 54px 105px;
    }
  }
}

.button-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 25px;
  background: transparent;
}
