  {{#each this}}
  <li class="categories-item">
      <div class="category-inner">
        <div class="category-header">
          <button class ="button back"><span class="material-icons">navigate_before</span>
          </button>
          <p class="category-name">{{this}}</p>
          <button class="show-total">Дивитися всі</button>
           <button class ="button forward"><span class="material-icons">navigate_next</span>
           </button>
        </div>
        <div class="category-content"></div>
      </div>
  </li>
  {{/each}}



