{{#each this}}
<div class="producr-card">
    <img src="imageUrls" alt="title" class="card_image" />
    <div class="card_content">
        <h2 class="card_title">{{title}}</h2>
        <p class="card_id">{{id}}</p>
        <p class="card_price">{{price}}</p>
        <button class="js-user-button">інформація про продавця</button>
        <button class="js-fav-button">В обране
            <i class="material-icons">favorite_border</i>
            <div class="js-user-container"></div>
        </button>
        <button class="js-share-button">Поділитися
            <i class="material-icons">share</i>
        </button>
        <p class="card__descr">Опис
            {{description}}
        </p>
    </div>
</div>
{{/each}}