<div class="search-container" data-modal-search>
    <form id="search">
        <input type="text" name="query" autocomplete="off" id="search-input" placeholder="ПОШУК">
        <button type="submit" class="js-search"><i class="material-icons md-24 md-light">search</i></button>
    </form>
</div>