{{#each this}} <div class="user-info">
    <div class="user-description">
        <p class="name">{{userId}}</p>
        <p class="reg-date"> на OLX с {{registrationDate}}</p>
        <p class="user-phone">{{phone}}</p>
    </div>
</div>
{{/each}}