
<ul class="category-list">
{{#each this}}
<li class="category-list item">
    <b class="title">{{this.category}}</b>
    <ul class="category">
        {{#each this}}
        <li class="category-item">
             <img class="img" src="{{imageUrls}}" alt="">
           
            <p class="text"> {{title}}  </p>
            <p class="price">{{price}} тугриков </p>
        </li>
        {{/each}}
    </ul>
</li>
{{/each}}
</ul>

