{{#each this}}
<div class="category-section">
    <ul class="category-navi">
        <li>
            <button class="navi left " type="button">
                <svg class="direction-icons" width="30" height="30">
                </svg>
            </button>
        </li>
        <li>
            <h2 class="title">{{this.category}}Category</h2>
        </li>
        <li>
            <h2 class="title"> Other </h2>
        </li>
        <li>
            <p class="text"> View All</p>
        </li>
        <li>
            <button class="navi right " type="button">
                <svg class="direction-icons" width="30" height="30">
                </svg>
            </button>
        </li>
    </ul>
    <ul class="category">
        {{#each this}}
        <li class="category-item">
            <img class="img" src="{{imageUrls}}" alt="description">
            <p class="text"> {{title}} </p>
            <p class="price">{{price}} тугриков </p>
            <button type="button" class="favorite buttons" data-action="favorite">
                <i class="material-icons">favorite_border</i>
            </button>

            <button type="button" class="full buttons" data-action="full">
                <i class="material-icons">fullscreen</i>
            </button>
        </li>
        {{/each}}
    </ul>
</div>
{{/each}}