.productReviewModal {
    outline: 2px solid tomato;
    background-color: tomato;
    width: 100px;
    height: 100px;
    .productReviewLabel {
        outline: 2px solid tomato;
        color: violet;
    }
}
