.mobile-nav-menu {
  button {
    display: flex;
    align-items: center;

    font-family: $Roboto;
    font-weight: $bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-transform: uppercase;

    background-color: transparent;
    border: none;

    height: 70px;
    padding-left: 34px;
    @media screen and (min-width: $tablet-min) {
      padding-left: 40px;
    }

    cursor: pointer;

    .account-logo {
      margin-right: 10px;
    }

    @media screen and (min-width: $tablet-min) {
      padding-left: 40px;
    }
    &[data-action='mobile-account'] {
      display: flex;
      align-items: center;
      text-align: left;
      width: 80%;
    }
    &[data-action='mobile-logout'] {
      text-align: center;
      padding: 29px 25px 29px 15px;

      width: auto;
    }
    &[data-action='mobile-login'] {
      width: 100%;
    }
  }
}
.mobile-dropdown-menu {
  .mobile-button-calls {
    font-weight: $normal;
    letter-spacing: 0.02em;
    padding: 10px 20px;
    width: 100%;
    height: fit-content;
  }
}

.mobile-button-filter {
  width: 100%;
}
