.filter-button {
  display: flex;
  align-items: center;

  color: $c-black;
  font-family: $Roboto;
  font-weight: $bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: transparent;
  height: 100%;
  border: none;
  padding: 5px;
  text-transform: capitalize;
  &:hover,
  &:focus {
    color: $c-white;
    background-color: $c-accent;
  }
}
