header {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    @media screen and (min-width: $tablet-min) {
      padding-right: 22px;
    }
    @media screen and (min-width: $tablet-max) {
      padding-right: 20px;
    }
  }
  border-bottom: 1px solid red; //  #e2e3e5

  .upper-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
  }
}
.desktop-menu {
  // border-right: 1px solid red;
  // border-left: 1px solid red;
  display: none;
  @media screen and (min-width: $tablet-min) {
    border-left: none;
    display: block;
  }
}

.account-menu {
  position: relative;
  display: flex;
  align-items: center;

  .account-buttons:hover [data-action='account'] {
    color: $c-white;
    background-color: $c-accent;

    .account-logo {
      fill: $c-white;
    }
  }
  .account-buttons:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #f5f6fb;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: 200ms ease-in-out;
    transform-origin: 0 0;
    transform: scaleY(0);

    @media screen and (min-width: $desktop) {
      width: 100%;
    }
  }
}

.navigation-menu {
  display: flex;
  align-items: center;
  width: 100%;
  border-left: 1px solid red;
  border-right: 1px solid red;

  .js-nav-menu {
    padding-left: 5px;
    padding-right: 5px;
    @media screen and (max-width: $desktop) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-grow: 1;
  }
  .js-nav-menu-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.action-buttons {
  display: flex;
  align-items: center;
}

.logo {
  @media screen and (max-width: $mobile-max) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media screen and (min-width: $tablet-min) {
    margin-left: auto;
    margin-right: 15%;
  }

  font-family: $Montserrat;
  color: $c-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
