.mobile-menu-container {
  display: none;
  @media screen and (max-width: $tablet-max) {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $c-bg-grey;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet-min) {
    width: 45%;
  }
}
.mobile-menu-inner {
  margin-top: 70px;
}
.mobile-inner-menu-button {
  border: none;
  background: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: $c-accent;
  }
}

.mobile-nav-menu {
  display: block;
  align-items: center;
  margin-top: 70px;
  border-top: 1px solid red;
  width: 100%;
}

.mobile-nav-item {
  list-style: none;
  margin: 0;

  border-bottom: 1px solid red;
}

.mobile-account-menu {
  display: flex; // CHECK
  flex-wrap: wrap;
}
.mobile-dropdown-menu {
  position: block;
  padding-left: 64px;
  padding-top: 10;
  padding-bottom: 10px;
  width: 100%;
}
