.mobile-menu-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: $c-overlay;
  opacity: 1;
  pointer-events: initial;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    right: -100%;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  }
}
.mobile-menu-container {
  overflow: scroll;

  transition: $transition 200ms;
  //  display: none;
  @media screen and (max-width: $tablet-max) {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 100%;
    width: 90%;

    background-color: $c-bg-grey;

    &.is-open {
      transition: $transition;

      transform: translateX(100%);
    }
  }
  @media screen and (min-width: $tablet-min) {
    width: 45%;
  }
}
.mobile-menu-inner {
  margin-top: 70px;
}
.mobile-inner-menu-button {
  border: none;
  background: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: $c-accent;
  }
}

.mobile-nav-menu {
  display: block;
  align-items: center;
  margin-top: 70px;
  border-top: 1px solid $c-accent;
  width: 100%;
}

.mobile-nav-item {
  list-style: none;
  margin: 0;

  border-bottom: 1px solid $c-accent;
}

.mobile-account-menu {
  display: flex; // CHECK
  flex-wrap: wrap;
  align-items: center;
  &.hidden {
    display: none;
  }
}
.mobile-dropdown-menu {
  padding-left: 64px;
  padding-right: 50px;
  width: 100%;
}
